
1|_StogovAndrey.playground/playground.xcworkspace/xcuserdata/andreystogov.xcuserdatad/UserInterfaceState.xcuserstate
2| StogovAndrey.playground/playground.xcworkspace/xcuserdata/andreystogov.xcuserdatad/UserInterfaceState.xcuserstate
3|_StogovAndrey.playground/playground.xcworkspace/xcuserdata/andreystogov.xcuserdatad/UserInterfaceState.xcuserstate
